body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(5, 5, 95);
}
#navup{
    width: 60%;
    height: 100px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
}
#logo{
height: 100%;
width: 20%;
border: 2px solid white;
}
#navup>p{
color: aliceblue;
font-size: 50px;
margin-top: 5px;
}
#navdown{
    width: 99%;
    height: 50px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navdown ul{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    color: aliceblue;
    list-style: none;
    align-items: center;
    font-size: 20px;
}
#navsymbol{
    /* border: 2px solid white; */
    align-items: center;
    color: aliceblue;
    width: 5%;
    height: 100%;
    margin-left: 2%;
    font-size: 20px;
}